body {
	font-family: -apple-system, sans-serif;
	max-width: 800px;
	margin: auto;
	font-size: 18px;
	letter-spacing: 0px;
	font-stretch: normal;
	padding: 0 1em;
	color: #262729;
}

h1 {
	font-weight: normal;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow: hidden;
}
.navbar li {
	float: left;
}
.navbar li a {
	display: block;
	color: #000;
	padding: 16px 16px;
	text-decoration: none;
}
.navbar li a:hover {
	background-color: #bbb;
}
.navbar li a.active {
	background-color: #6AC;
}

a {
	text-decoration: underline;
	color: #0066cc;
}
h2 a {
	text-decoration: none;
	color: #262729;
}

figure {
	text-align: center;
}

.reference {
	font-size: 8px;
	text-align: center;
}

.code-block {
	display: block;
	margin-left: auto;
	width: 90%;
}

@media screen and (min-width: 400px) {
	.graph-wrapper {
		display: flex;
	}
}
