body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	max-width: 800px;
	margin: auto;
	font-size: 18px;
	letter-spacing: 0px;
	font-stretch: normal;
	padding: 0 1em;
}

h1 {
	font-weight: normal;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow: hidden;
}
.navbar li {
	float: left;
}
.navbar li a {
	display: block;
	color: #000;
	padding: 16px 16px;
	text-decoration: none;
}
.navbar li a:hover {
	background-color: #bbb;
}
.navbar li a.active {
	background-color: #6AC;
}

a {
	text-decoration: underline;
	color: #0066cc
}

figure {
	text-align: center;
}

.reference {
	font-size: 8px;
	text-align: center;
}
